.user {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
  border-top: 0.2px solid #343a4180;
}

.userImg {
  margin: 0.5rem;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  background: url('../../../public/images/profile.png') center/cover no-repeat;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.info p {
  margin: 6px 10px 3px 10px;
}

.name {
  font-weight: 600;
  font-size: 16px;
}

.text {
  font-weight: 400;
  font-size: 13px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  float: right;
}

.comment {
  display: flex;
}
